<!DOCTYPE html>
<html>
<head>
	<title>TaffFinder - Informations du candidat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h4 >TaffFinder</h4>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:3000/recruteur">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:3000/recruteur/mesOffres">Gestion de mes offres</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
					<div class="job-listings">
						<% candidats.forEach((candidat)=> { %>
						<!-- <form id="reponse" action="/recruteur/reponse" method="POST"> -->
						<div class="job">
							<form action="/recruteur/reponse" method="POST">
							<h4><%= candidat.nom %></h4>
							<p>Prénom : <%= candidat.prenom %></p>
							<p>Date de Candidature : <%= candidat.DateCand %></p>
							<p>Email : <%= candidat.email %></p>
							<p>Statut : <%=candidat.statutCand %></p>
							<p>Téléphone : <%= candidat.telephone %></p>
							<p>Statut : <%= candidat.statutCand %></p>
							<!-- telecharger son cv-->

							<% if (candidat.cvExiste) { %>
								<p>CV :</p>
								<li><a href="http://localhost:3000/upload/getfile?fichier_cible=<%= candidat.prenom %>-CV.jpg" target="_blank">CV de <%= candidat.prenom %></a></li>
							  <% } else { %>
								<p>CV non disponible.</p>
							  <% } %>
							  <% if (candidat.lmExiste) { %>
								<p>Lettre de motivation :</p>
								<li><a href="http://localhost:3000/upload/getfile?fichier_cible=<%= candidat.prenom %>-LM.jpg" target="_blank">LM de <%= candidat.prenom %></a></li>
							  <% } else { %>
								<p>Lettre de motivation non disponible.</p>
							  <% } %>
							<% if (candidat.statutCand === 'en cours de traitement') { %>
								<input type="submit" name="accepter" value="Accepter">
								<input type="submit" name="refuser" value="Refuser">
							<% } %>
							<input type="hidden" name="emailCand" value="<%= candidat.email%>">
							<input type="hidden" name="idOffre" value="<%= candidat.idOffre %>">
							</form>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
        </div>
	</div>

	<footer class="footer">
		<div class="container">
			<p>Site de recrutement &copy; 2023. Tous droits réservés.</p>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
