<!DOCTYPE html>
<html>
<head>
    <title>TaffFinder - Mes Candidatures</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

	<%- include('nav.ejs') %>

	<div class="container">
		<h2>Mes candidatures</h2>
		<div class="row">
			<% candidatures.forEach((candidature) => { %>
				<div class="col-md-6">
				  <div class="card mb-3">
					<div class="card-body">
					  <h5 class="card-title"><%= candidature.intitulé %></h5>
					  <p class="card-text">Email recruteur: <%= candidature.recruteur %></p>
					  <p class="card-text">Date de candidature: <%= candidature.DateCand %></p>
					  <p class="card-text">Nombre de Piece: <%= candidature.nbPiece %></p>
					  <p class="card-text">Statut: <%= candidature.statutCand %></p>
					</div>
				  </div>
				</div>
			  <% }) %>
			<!-- Ajoutez d'autres candidatures ici -->
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p>Site de recrutement &copy; 2023. Tous droits réservés.</p>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
