
<!DOCTYPE html>
<html>
<head>
	<title>Devenir Recruteur</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Liens vers les stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <%- include('nav.ejs') %>

    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>SIREN</th>
                <th>nom</th>
                <th>type</th>
                <th>Siege Social</th>
                <th>Accepter</th>
                <th>Refuser</th>
            </tr>
        </thead>
        <tbody>
            <% orgas.forEach((orga)=> { %>
                <tr>
                    <form id="AdminOrga" action="/organisations/setadminorga" method="POST">
                    <td>
                        <%= orga.SIREN %>
                    </td>
                    <td>
                        <%= orga.nom %>
                    </td>
                    <td>
                        <%= orga.type %>
                    </td>
                    <td>
                        <%= orga.siegeSocial %>
                    </td>
                    <td>
                        <input type="submit" name="accepter" value="Accepter">
                        <input type="hidden" name="emailA" value="<%= orga.emailusers %>">
                        <input type="hidden" name="sirenA" value="<%= orga.SIREN %>"> 
                    </td>
                    <td>
                        <input type="submit" name="rejeter" value="Rejeter"> 
                        <input type="hidden" name="emailR" value="<%= orga.emailusers %>">
                        <input type="hidden" name="sirenR" value="<%= orga.SIREN %>">

                    </td>
                </form>
                </tr>
                <% }) %>
        </tbody>
    </table>


    <table border>
        <thead>
            <tr>
                <th>SIREN</th>
                <th>nom</th>
                <th>type</th>
                <th>Siege Social</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <% treated.forEach((orga)=> { %>
                <tr>
                    <td>
                        <%= orga.SIREN %>
                    </td>
                    <td>
                        <%= orga.nom %>
                    </td>
                    <td>
                        <%= orga.type %>
                    </td>
                    <td>
                        <%= orga.siegeSocial %>
                    </td>
                    <td>
                        <% if (orga.reponse == 1) { %>
                            Acceptée
                        <% } else { %>
                            Refusée
                        <% } %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>


</body>