<body>

    <%- include('nav.ejs') %>

    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>Email de l'utilisateur</th>
                <th>Organisation</th>
                <th>Accepter</th>
                <th>Refuser</th>
            </tr>
        </thead>
        <tbody>
            <form id="AdminOrga" action="/organisations/setrecruteurorga" method="POST">
                <% users.forEach((user)=> { %>
                    <tr>
                        <td>
                            <%= user.emailusers %>
                        </td>
                        <td>
                            <%= user.orga %>
                        </td>
                        <td>
                            <input type="submit" name="accepter" value="<%= user.emailusers %>"> 
                        </td>
                        <td>
                            <input type="submit" name="rejeter" value="<%= user.emailusers %>"> 
                        </td>
                    </tr>
                    <% }) %>
    
             </form>
        </tbody>
    </table>
</body>